.listing {
    .avatar {
        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .content {
        padding-left: 20px;
    }
}